
.btn{
    @extend %btn;


    &-primary{
        padding: 16px 38px;
        background: $btn-color-primary;
        box-shadow: 0 1px 6px 0 #4449a2;
        transition:all 0.5s ease-in-out;

        &:hover{
            background:$btn-color-secondary;
            color:$btn-color-primary;
            box-shadow: 0 1px 12px 0 #e2e2e6;
        }
    }

    &-secondary{
        padding: 16px 38px;
        background: $btn-color-secondary;
        color:$btn-color-primary;
        transition: all 0.5s ease-in-out;

        &:hover{
            background:$color-purple;
            color:$btn-color-secondary;
            box-shadow: 0 1px 12px 0 #e2e2e6;
        }
    }

    &-tertiary{
        border: 1px solid #979797;
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 4px;
    position: relative;

    &::before{
        transition: all 0.85s ease;
        display: inline-block;
        content: "";
        border-radius: 4px;
        width: 0;
        box-sizing: border-box;
        z-index: -2;
        height: 0;
        position: absolute;
        top: 50%;
        left: 50%;
    }
    &:hover {
                color:$color-purple;
                &::before {
                  background: $color-white;
                  
                 
                  @include size(100%,100%);
                  left: 0;
                  top:0;
                }
              }
    }

    &-link{
        text-decoration: none;
    text-align: center;
    color:$btn-color-link;
    font-weight: bold;

    .fa-chevron-right{
        transition: transform 0.3s ease-out;
    }

    &:hover {
        cursor: pointer;

        .fa-chevron-right {
            transform: translateX(7px);
        }
    }
    }
}