// Banner Form
.hero__form {
    // width: 422px;
    @extend %form;

    &--input{
        @extend %form-input;
    background: $color-greyish;
    box-shadow: 0 0 8px 0 $color-greyish;

    &::placeholder{
        color: $color_white;
        font-size: 16px;
    }

    &:focus{
        outline: 0;

        &::placeholder{
            color: transparent;
        }
    }
    }
}

// Subscribe Form
// Banner Form
.subscribe__form {
    // width: 422px;
    @extend %form;

    &--input{
        @extend %form-input;
    background:transparent;
    border:1px solid $color-white;

    &::placeholder{
        color: $color_white;
        font-size: 16px;
    }

    &:focus{
        outline: 0;

        &::placeholder{
            color: transparent;
        }
    }
    }
}