// background Colors
.bc{
    &-primary{
        background-color: $color-purple;
    }

    &-secondary{
        background-color: $color-white;
    }

    &-offwhite{
        background-color: $color-offwhite;
    }

    &-cyan{
        background-color: $color-cyan;
    }
    &-cyan-gradient{
        background-image: $color-cyan-linear;
    }

    &-blue-gradient{
        background-image: $color-blue-linear;
    }

    &-violet-gradient{

        background-image:$color-violet-gradient;
    }

    &-pink-gradient{
        background-image:$color-pink-gradient;
    }

    &-footer-primary{
        background-color:$color-dark-blue
    }

    &-footer-secondary{
        background-color:$color-purple;
    }
}