// @font-face {
//     font-family: ProximaNova;
//     src: url("../../fonts/Proxima-Nova-Font/ProximaNovaRegular.woff") format("woff");
// }

@font-face {
    font-family: 'proximanova-regularregular';
    src: url('../../fonts/Proxima-Nova-Font/proximanovaregular-webfont.woff2') format('woff2'),
         url('../../fonts/Proxima-Nova-Font/proximanovaregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}