// Features Section

.features {
    position: relative;
    z-index: 2;
    padding: 83px 0;

    &_heading {
        text-align: center;
        margin-bottom: 39px;



        span {
            font-weight: bold;
        }
    }

    &_list {
        @include flex(center,center,row);

        @include viewport-sm {
            @include flex(center,center,column);
        }


    }


    &_cards {
        @include flex(center,center,column);
        text-align: center;
        width: 348px;

        &--icon {
            border-radius: 50%;
    height: 99px;
    width: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
        }

        &--head {
            color: $color-dark-black;
            font-weight: bold;
            margin: 14px 0 12px 0;
        }

        &--description {
            color: $color-light-grey;
            max-width: 205px;
            line-height: 25px;
            margin-bottom: 12px;
        }

        &--link {
            // color: $btn-color-link;
            @extend %learn-more;
        }

        @include viewport-sm {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0
            }
        }
    }
}


// About us Cards
.about_us {
    width: 100%;

    &_card {
        @include flex(space-between,null,row);

        @include viewport-sm {
            @include flex(space-between,null,column);

        }
    }

        &_list {
            width: calc((100% / 3) - 25px);
            @include flex(center,center,column);
            text-align: center;

            &--description {
                color: $color-light-purple;
                padding: 30px 90px;

                @include viewport-md{
                    padding:10px;
                }
            }

            &--link {
                @extend %learn-more
            }


            @include viewport-sm {
                width: 100%;
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0
                }
            }
        }


}