body {
    font-family: 'proximanova-regularregular';
}

.container {
    max-width: 1270px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.no_scroll {
    overflow: hidden;
}

img {
    display: block;
}

.hero {
    position: relative;
    min-height: 85vh;

    &_fixed {
        @include position(fixed,0,null,null,null);
        width: 100%;
        z-index: 1;
    }

    &_wrapper {
        @include flex(null,center,null);
        min-height: 684px;

        &--content {
            margin-top: 80px;
        }

        &--image {
            @include position(absolute,null,-82px,-82px,null);
        }

        &--img {
            display: block;
            width: 90%;
        }

        // &--text{
        // }

        .title {
            max-width: 343px;
            margin-bottom: 47px;
        }

        @include viewport-md {

            align-items: start;
            justify-content: center;

            &--image {
                right: 50px;
            }

            &--img {
                display: block;
                width: 90%;
            }

            .title {
                max-width: 100%;
                text-align: center;
            }
        }

        @include viewport-sm {

            align-items: start;

            &--image {
                right: 0;
                bottom: 84px;
            }

            &--img {
                display: block;
                width: 100%;
            }

            .title {
                max-width: 98%;
                text-align: center;
                margin-bottom: 20px;
            }
        }
    }

    @include viewport-md {
        min-height: 100vh;
    }

    @include viewport-sm {
        min-height: 80vh;
    }

}

// Brands Section

.brands {

    @extend %onTop;
    padding: 39px 0;

    &_slider {
        @include flex(space-evenly,center,null);
        max-width: 1000px;
        margin: auto;


        @include viewport-sm {
            @include flex(null,null,column);
            & > picture {
                margin-bottom: 30px;

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }

    }
}


// Why us Section

.why_us {
    @extend %onTop;
    padding: 80px 0 90px 0;

    &--heading {
        margin: 0 0 33px 0;
    }

    &--description {
        line-height: 28px;
        margin-bottom: 60px;

        @include viewport-md{
            margin-bottom:0
        }

        @include viewport-sm{
            margin-bottom:60px
        }
    }

    &_activity {
        @include flex(space-between,null,null);

        @include viewport-md{
            @include flex(space-between,center,column);
        }

        @include viewport-sm {
            @include flex(null,null,column);
        }
    }

}

.activity_content {

    width: 50%;
    margin-top: 46px;

    &--head {
        background-color: rgba(24, 144, 164, 0.5);
        padding: 18px 26px 32px 33px;
        border-radius: 3px;
        box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
        max-width: 85%;

        .activity_content--heading {
            margin-bottom: 20px;
        }

        .activity_content--description {
            line-height: 20px;
        }

        @include viewport-md {
            max-width: 100%;
        }
    }

    &--list {
        margin: 14px 0 0 33px;
    }

    &--items {
        color: $color-dark-cyan;
        margin-bottom: 50px;

        &::after {

            @extend %hr-line;
        }
    }

    @include viewport-md{
        width: 100%;
    }

    @include viewport-sm {
        margin-top: 0;
    }
}

// About us

.about_us {
    @extend %onTop;
    padding: 80px 0;

    &--heading {
        color: $color-greyish-brown;
        margin-bottom: 70px;
    }
}


// CTA

.cta {
    @extend %onTop;
    padding: 40px 0;


    &_wrapper {
        @include flex(space-between,center,null);
        &_main {

            &--head {
                max-width: 687px;
                margin-bottom: 21px;
                line-height: 30px;

                span {
                    font-weight: 600;
                }
            }

            &--link {
                color: $btn-color-secondary;
                text-decoration: underline;
            }

            @include viewport-sm {
                text-align: center;
                margin-top: 20px
            }
        }


        @include viewport-sm {
            @include flex(null,null,column-reverse);

        }
    }

}

// Video
.video,
.playList {
    position: relative;
    z-index: 2;
    background-color: #fff;
}

.video_main {

    &::before {
        content: "";
        @include size(100%,100%);
        position: absolute;
        background-color: $color-dark-indigo;
        opacity: 50%;
        display: block;
    }

    .video-content-wrapper {
        @include position(absolute,null,null,15%,50%);
        width: 100%;
        transform: translateX(-50%);
        text-align: center;


        &-text {
            q {
                font-style: italic;
                font-weight: 300;
                width: 60%;
                display: inline-block;
            }

            &--description {
                margin: 30px 0;
            }

            &--button {
                border: none;
                border-radius: 50%;
                color: $color-purple-md;
                @include size(70px,70px);
                line-height: 70px;
                background: $color-video-play-bg;
            }
        }
    }
}

.video video {
        @include size(100%,calc(100vh - 78px));
    object-fit: cover;
}

.video .none {
    display: none;
}

a,
img {
    display: block;
}

.video_wrapper {
    @include flex(space-around,null,null)

}


//   Play-List
.playList {
    padding: 40px 0;

        &_wrapper {
            @include flex(space-between,null,null);


            @include viewport-md{
                display:block
            }
            @include viewport-sm {
                margin-bottom: 30px;
                display: block;
    
                &:last-child {
                    margin-bottom: 0
                }
            }
        }
    
        &_content {
            @include flex(null,center,null);
            width: fit-content;
            margin-bottom: 10px;
    
            &-body {
                margin-left: 22px;
    
                &--text {
                    margin-bottom: 14px;
                }
            }
    
            &_image {
    
                position: relative;
    
                &::after {
                    content: "";
                    @include size(0,0);
                    margin: 0px 2px;
                    border-top: 12px solid transparent;
                    border-bottom: 12px solid transparent;
                    border-left: 20px solid $color-white;
                    @include position(absolute,50%,null,null,50%);
                    transform: translate(-50%, -50%);
                    z-index: 1;
                }
    
            }
    
            &:hover {
                cursor: pointer;
            }
    
            @include viewport-sm {
                &:last-child {
                    margin-bottom: 0
                }
            }
        }
}

// Subscribe cta

.subscribe_cta {
    @extend %onTop;
    padding: 80px 0;

    &_wrapper {
        @include flex(center,center,column);
    }

    &--head {
        margin-bottom: 51px;
    }
}

.active .playList_content_image::after {
    z-index: -1;
}

.hidden {
    display: none;
}

.controls{
transition: all 0.8s ease-in-out;
}

.opacity{
    opacity: 0;
}